include README.rst
include README-pypi.rst
include requirements.txt
include tests/requirements.txt
include flambe/experiment/webapp/templates/*
include flambe/experiment/webapp/static/*
include flambe/cluster/instance/scripts/*
